<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Control A/C</title>
  <style>
    .control-container {
      max-width: 22rem;
    }
    .control-header {
      background-color: #b2f5ea;
    }
    .control-button {
      background-color: #e5e7eb;
      border: none;
    }
    .control-button-on-off {
      background-color: #f87171;
    }
    .control-icon {
      width: 24px;
      height: 24px;
    }
    .control-big-text {
      font-size: 2.5rem;
    }
    .control-small-text {
      font-size: 0.875rem;
    }
  </style>
  </style>
</head>

<body>
  <!-- top navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" height="42" style="background-color: #EBD299;" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
        aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="topNavBar">

        <span class="navbar-text d-flex ms-auto my-3 my-lg-0 fw-bold">
          F-306
        </span>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- top navigation bar -->
  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start sidebar-nav bg-light" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar navbar-light bg-light">
        <ul class="navbar-nav">

          <li>
            <a href="#" class="nav-link px-3 active">
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dasboard</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-fan"></i></span>
              <span>Control A/C</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-sliders"></i></span>
              <span>Calidad del Aire</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-card-checklist"></i></span>
              <span>Monitorear Asistencia</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  <!-- offcanvas -->
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h4>Control A/C</h4>
        </div>
      </div>
      
      <div class="container py-5">
        <div class="control-container mx-auto p-4 border border-2 rounded-3 shadow">
          <div class="control-header p-4 d-flex justify-content-between align-items-center">
            <div>
              <p class="control-big-text fw-bold mb-0" id="temperature">22 °C</p>
              <p class="control-small-text" id="time">--:-- --</p>
            </div>
            <div class="d-flex align-items-center">
              <!-- Iconos de Bootstrap -->
              <i class="bi bi-flower1 control-icon me-2"></i>
              <span class="control-big-text fw-bold">&gt;</span>
            </div>
          </div>
          <div class="mt-4 row g-2">
            <div class="col-6">
              <button class="control-button control-button-on-off w-100 py-2 rounded" id="power">Encender/Apagar</button>
            </div>
            <div class="col-6">
              <button class="control-button w-100 py-2 rounded" id="mode">Modo</button>
            </div>
            <div class="col-6">
              <button class="control-button w-100 py-2 rounded" onclick="adjustTemp(-1)">-</button>
            </div>
            <div class="col-6">
              <button class="control-button w-100 py-2 rounded" onclick="adjustTemp(1)">+</button>
            </div>
            <div class="col-6">
              <button class="control-button w-100 py-2 rounded">Ventilador</button>
            </div>
            <div class="col-6">
              <button class="control-button w-100 py-2 rounded">Ángulo</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <script>
    var powerOn = false;
    var temperature = 22; // Temperatura inicial
  
    document.getElementById('power').addEventListener('click', function() {
      powerOn = !powerOn;
      updateDisplay();
    });
  
    document.getElementById('mode').addEventListener('click', function() {
      // Aquí puedes cambiar entre los modos como frío/calor, etc.
      // Esta función solo imprime en consola para el ejemplo.
      if (powerOn) {
        console.log('Cambiando modo...');
      }
    });
  
    function adjustTemp(change) {
      if (powerOn) {
        temperature += change;
        updateDisplay();
      }
    }
  
    function updateDisplay() {
      if (powerOn) {
        document.getElementById('temperature').textContent = temperature + ' °C';
        // Aquí puedes actualizar otros elementos del display si es necesario
      } else {
        document.getElementById('temperature').textContent = '--';
      }
    }

    // Función que actualiza el reloj
  function updateClock() {
    var now = new Date();
    var hours = now.getHours();
    var minutes = now.getMinutes().toString().padStart(2, '0');
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours.toString().padStart(2, '0') : '12'; // La hora '0' debe ser '12'
    document.getElementById('time').textContent = hours + ":" + minutes + ' ' + ampm;
  }

  setInterval(updateClock, 1000); // Actualiza el reloj cada segundo
  updateClock(); // Inicializa el reloj inmediatamente
  </script>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="./js/jquery-3.5.1.js"></script>
  <script src="./js/jquery.dataTables.min.js"></script>
  <script src="./js/dataTables.bootstrap5.min.js"></script>
  <script src="./js/script.js"></script>
</body>

</html>